<!doctype html>
<html lang="en">
<head>
    <!-- head -->
    <%- include('./partials/head.ejs') %>
</head>
<body>

<!-- navbar -->
<%- include('./partials/navbar.ejs') %>

<!-- content -->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex mb-5">
                        <h3>List All Blog</h3>
                        <a href="/blog/create" class="btn btn-primary ml-auto">
                            Create New Blog
                        </a>
                    </div>

                    <div class="card-text">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% if(blogs.length > 0) { %>
                                    <% blogs.forEach((blog, i) => { %>
                                        <tr>
                                            <td><%= i+=1 %></td>
                                            <td><%= blog.title %></td>
                                            <td><%= blog.description %></td>
                                        </tr>
                                    <% }) %>
                                <% }
                                else { %>
                                    <tr>
                                        <td colspan="3">
                                            <p class="text-center">No data for now</p>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<%- include('./partials/footer.ejs') %>

</body>
</html>